/* Styles for screens with minimum and maximum widths of 800px and 991px respectively */
@media only screen and (max-width : 991px) {
	/* Pushes the main content from the left and top */
	main {
		padding-left: 0;
		padding-top: 60px;
	}



	/* All CSS properties related to anything belonging to the top nav(s) */
	#first_top_nav {
		box-shadow: none;
	}

	#second_top_nav {
		display: inline;
		top:55px;
	}

	#desktop_title {
		display: none;
	}

	#hamburger_button {
		left: 5px;
		display: inline;
		visibility: visible;
		bottom: 23px;
	}

	#hamburger_button i {
		line-height: 100px;
		height: 64px;
		font-size: 40px;
	}

	.nav-wrapper {
		text-align: center;
	}

	#logo {
		display: inline;
		position: relative;
		/*left: 60px;*/
		bottom: 2px;
	}

	#logo img {
		padding: 12px 0 0 0;
		width: 30px;
	}

	.page_title {
		font-size: 12px;
		padding: 0 0 0 0;
		line-height: inherit;
		left: 50px;
	}

	#logo_title {
		font-size: 16px;
		bottom: 0px;
		display: none;
	}

	#mobile_logo_title {
		font-size: 16px;
		bottom: 0px;
		color: #54FFA9;
		font-family: "Roboto Mono";
		position: relative;
		margin-left: 10px;
		padding-right: 70px;
		display: inline;
	}

	#top_content {
		/*padding: 0 40px 0 40px;*/
	}

	#main_message {
		margin: -110px auto -80px auto;
		/*width: 80%;
		font-size: 15px;*/
	}

	#mobile_title {
		display: inline;
	}

	.breadcrumb.changed:before {
	    content: "\E5CC";
	    color: rgba(255,255,255,.7);
	    vertical-align: top;
	    display: inline-block;
	    font-family: "Material Icons";
	    font-weight: normal;
	    font-style: normal;
	    font-size: 25px;
	    margin: 0 10px 0 8px;
	    -webkit-font-smoothing: antialiased;
	}

	.default {
	    top: 0;
	}
	.fixed {
	    top: -200px;
	}

	
	


	/* All CSS properties related to anything belonging to the menu */
	.extra_li {
		font-size: 25px;
		line-height: 120px;
	}

	#nav-mobile .menu_items {
		line-height: 80px;
		font-size: 10px;
		font-weight: 700;
	}

	#nav-mobile li {
		background-color: white;
	}

	#nav-mobile .collapsible-header i {
		font-size: 30px;
		width: 1rem;
	}

	#nav-mobile .divider {
		height: 5px;
		background-color: #e0e0e0;
	}



	/* All CSS properties related to anything belonging to the latex page */
	#latex {
		font-size: 10px;
		margin: -70px auto 50px auto;
	}

	.latex_section {
		text-decoration: underline;
	}
}

/* Styles for screens with minimum and maximum widths of 800px and 991px respectively */
@media only screen and (max-width: 399px) {
	.page_title {
		font-size: 10px;
	}

	#nav-mobile {
		top: 57px;
	}

	#nav-mobile li a {
		margin: 0px 0.1rem;
	}

	#nav-mobile .collapsible-header i {
		font-size: 20px;
		width: 0rem;
	}

	#nav-mobile .menu_items {
		line-height: 60px;
		font-size: 9px;
	}

	#latex {
		font-size: 15px;
	}

	.latex_section {
		font-size: 20px;
	}

	.latex_equation {
		font-size: 9px;
	}

	.latex_equation table {
		width: 30%;
		font-size: 5px;
	}
}

/* Styles for screens with minimum and maximum widths of 800px and 991px respectively */
@media only screen and (min-width : 400px) and (max-width: 549px) {
	.page_title {
		font-size: 13px;
	}

	#nav-mobile {
		top: 57px;
	}

	#nav-mobile .collapsible-header i {
		font-size: 20px;
		width: 0rem;
	}

	#nav-mobile .menu_items {
		line-height: 80px;
		font-size: 12px;
	}

	#latex {
		font-size: 20px;
	}

	.latex_section {
		font-size: 20px;
	}

	.latex_equation {
		font-size: 11px;
	}

	.latex_equation table {
		font-size: 7px;
	}
}

/* Styles for screens with minimum and maximum widths of 800px and 991px respectively */
@media only screen and (min-width : 550px) and (max-width: 749px) {
	.page_title {
		font-size: 18px;
	}

	#nav-mobile {
		top: 57px;
	}

	#nav-mobile .collapsible-header i {
		font-size: 30px;
		width: 1rem;
	}

	#nav-mobile .menu_items {
		line-height: 80px;
		font-size: 15px;
	}

	#latex {
		font-size: 20px;
	}

	.latex_section {
		font-size: 20px;
	}

	.latex_equation {
		font-size: 12px;
	}
}

/* Styles for screens with minimum and maximum widths of 800px and 991px respectively */
@media only screen and (min-width : 750px) and (max-width: 991px) {
	.page_title {
		font-size: 20px;
	}

	#nav-mobile {
		top: 64px;
	}

	#nav-mobile .menu_items {
		line-height: 120px;
		font-size: 25px;
	}

	#latex {
		font-size: 25px;
	}

	.latex_section {
		font-size: 30px;
	}

	.latex_equation {
		font-size: 14px;
	}
}