/* Styles for all mobile screens */
@media only screen and (max-width : 991px) {
	/* Pushes the main content from the left and top */
	main {
		padding-left: 0;
		padding-top: 60px;
	}



	/* All CSS properties related to anything belonging to the top nav(s) */
	#first_top_nav {
		box-shadow: none;
	}

	#second_top_nav {
		top:55px;
		display: inline-block;
		position: relative;
		margin-bottom: 40px;
	}

	.page_title {
		font-size: 12px;
		padding: 0 0 0 0;
		line-height: inherit;
		left: 50px;
	}

	#desktop_title {
		display: none;
	}

	#logo {
		display: inline;
		position: relative;
		bottom: 2px;
	}

	#logo img {
		width: 30px;
		padding: 12px 0 0 0;
	}

	#logo_title {
		font-size: 16px;
		bottom: 0px;
		display: none;
	}

	#mobile_logo_title {
		display: inline;
		/*font-size: 16px;*/
		bottom: 0px;
		color: #54FFA9;
		font-family: "Roboto Mono";
		position: relative;
		margin-left: 10px;
		padding-right: 70px;
	}

	#hamburger_button {
		display: inline;
		visibility: visible;
		left: 5px;
		bottom: 23px;
	}

	#hamburger_button i {
		font-size: 40px;
		line-height: 100px;
		height: 64px;
	}

	#mobile_title {
		display: inline;
	}

	

	/* All CSS properties related to anything belonging to the menu */
	.nav-wrapper {
		text-align: center;
	}

	#nav-mobile .menu_items {
		line-height: 80px;
		font-size: 10px;
	}

	#nav-mobile li {
		background-color: white;
	}

	#nav-mobile .collapsible-header i {
		font-size: 30px;
		width: 1rem;
	}

	#nav-mobile .divider {
		height: 2px;
	}

	.extra_li {
		font-size: 25px;
		line-height: 120px;
	}



	/* All CSS properties related to anything belonging to the about page, any subject page, and any topic page */
	.box_message {
		margin: 0px auto 50px auto;
		width: 90%;
	}

	#about_page, #subject_page, #topic_page {
		margin-top: 30px;
	}

	#main_message {
		margin: -70px auto -80px auto;
	}



	/* All CSS properties related to anything belonging to the latex page */
	#latex {
		margin: 30px auto 50px auto;
		width: 90%;
	}

	.hidden_div {
		background-color: #C4DBF3;
	}



	/* All CSS properties belonging to all pages */
	.latex_equation table {
		width: 100%;
	}

	.breadcrumb.changed:before {
	    content: "\E5CC";
	    color: rgba(0,0,0,0.87);
	    vertical-align: top;
	    display: inline-block;
	    font-family: "Material Icons";
	    font-weight: normal;
	    font-style: normal;
	    margin: 0 10px 0 8px;
	    -webkit-font-smoothing: antialiased;
	}
}



/* Styles for screens with minimum and maximum widths of 750px and 991px respectively */
@media only screen and (min-width : 750px) and (max-width: 991px) {
	/* All CSS properties related to anything belonging to the top nav(s) */
	.page_title {
		font-size: 20px;
	}

	#top_content .s1 {
	    font-size: 15px;
	}

	#mobile_logo_title {
		font-size: 25px;
	}



	/* All CSS properties related to anything belonging to the menu */
	#nav-mobile {
		top: 64px;
	}

	#nav-mobile .menu_items {
		line-height: 120px;
		font-size: 25px;
	}



	/* All CSS properties related to anything belonging to the about page, any subject page, and any topic page */
	#about_page .latex_equation table,
	#subject_page .latex_equation table,
	#topic_page .latex_equation table {
		font-size: 15px;
	}

	.box_message {
		font-size: 20px;
	}

	.box_message h2 {
		font-size: 25px;
	}



	/* All CSS properties related to anything belonging to the latex page */
	#latex {
		font-size: 20px;
	}

	.latex_section {
		font-size: 25px;
	}

	.box_tex {
		font-size: 20px;
	}

	#breadcrumbs li {
		font-size: 30px;
	}



	/* All CSS properties belonging to all pages */
	.latex_equation {
		font-size: 18px;
	}

	.latex_equation table {
		font-size: 17px;
	}
}



/* Styles for screens with minimum and maximum widths of 550px and 749px respectively */
@media only screen and (min-width : 550px) and (max-width: 749px) {
	/* All CSS properties related to anything belonging to the top nav(s) */
	.page_title {
		font-size: 25px;
	}

	#top_content .s1 {
	    font-size: 12px;
	}



	/* All CSS properties related to anything belonging to the menu */
	#nav-mobile {
		top: 56px;
	}

	#nav-mobile .collapsible-header i {
		font-size: 30px;
		width: 1rem;
	}

	#nav-mobile .menu_items {
		line-height: 80px;
		font-size: 15px;
	}



	/* All CSS properties related to anything belonging to the about page, any subject page, and any topic page */
	#about_page .latex_equation table,
	#subject_page .latex_equation table,
	#topic_page .latex_equation table {
		font-size: 14px;
	}

	.box_message {
		font-size: 18px;
	}



	/* All CSS properties related to anything belonging to the latex page */
	#latex {
		font-size: 15px;
	}

	.box_tex {
		font-size: 15px;
	}



	/* All CSS properties belonging to all pages */
	.latex_equation {
		font-size: 14px;
	}

	.latex_equation table {
		font-size: 14px;
	}
}



/* Styles for screens with minimum and maximum widths of 400px and 549px respectively */
@media only screen and (min-width : 400px) and (max-width: 549px) {
	/* All CSS properties related to anything belonging to the top nav(s) */
	.page_title {
		font-size: 20px;
	}

	#top_content .s1 {
	    font-size: 10px;
	}



	/* All CSS properties related to anything belonging to the menu */
	#nav-mobile {
		top: 56px;
	}

	#nav-mobile .collapsible-header i {
		font-size: 20px;
		width: 0rem;
	}

	#nav-mobile .menu_items {
		line-height: 80px;
		font-size: 12px;
	}



	/* All CSS properties related to anything belonging to the about page, any subject page, and any topic page */
	#about_page .latex_equation table,
	#subject_page .latex_equation table,
	#topic_page .latex_equation table {
		font-size: 12px;
	}



	/* All CSS properties related to anything belonging to the latex page */
	#latex {
		font-size: 20px;
	}

	.latex_body {
		font-size: 16px;
	}



	/* All CSS properties belonging to all pages */
	.latex_equation {
		font-size: 11px;
	}

	.latex_equation table {
		font-size: 8.5px;
	}
}



/* Styles for screens with a maximum widths of 399px */
@media only screen and (max-width: 399px) {
	/* All CSS properties related to anything belonging to the top nav(s) */
	.page_title {
		font-size: 15px;
	}

	#top_content .s1 {
	    font-size: 9px;
	}



	/* All CSS properties related to anything belonging to the menu */
	#nav-mobile {
		top: 56px;
	}

	#nav-mobile li a {
		margin: 0px 0.1rem;
	}

	#nav-mobile .collapsible-header i {
		font-size: 20px;
		width: 0rem;
	}

	#nav-mobile .menu_items {
		line-height: 60px;
		font-size: 9px;
	}



	/* All CSS properties related to anything belonging to the about page, any subject page, and any topic page */
	#about_page .latex_equation table,
	#subject_page .latex_equation table,
	#topic_page .latex_equation table {
		font-size: 10px;
	}



	/* All CSS properties related to anything belonging to the latex page */
	#latex {
		font-size: 18px;
	}



	/* All CSS properties belonging to all pages */
	.latex_equation {
		font-size: 11px;
	}

	.latex_equation table {
		font-size: 10px;
	}
}