/* Styles for all screens */
body * {
	max-height: 1000000em;
}

body {
	background: #e0e0e0;
}



/* Pushes the main content from the left to give space to the menu */
main {
  	padding-left: 350px;
  	background: #e0e0e0;
}



/* Pertains to all pages */
#content_preloader {
	top: 150px;
	left: 50%;
}
#title_preloader {
	top: 12px;
}
#nav_preloader {
	top: 86px;
	left: 40%;
}



/* All CSS properties related to anything belonging to the top nav(s) */
nav {
	height: 64px;
	line-height: 64px;
}

#first_top_nav {
	top: 0px;
	position: fixed;
	z-index: 2;
}

#desktop_title {
	display: inline-block;
}

#second_top_nav {
	top: 60px;
	display: none;
	z-index: 1;
}

.page_title {
	font-size: 16px;
	padding-left: 140px;
	line-height: 64px;
	vertical-align: top;
}

.logo-cls {
	display: inline-block;
	padding: 0 0 0 40px;
	height: 70px;
}

.logo-cls img {
	width: 40px;
	padding: 13px 0 0 10px;
}

#logo_title {
	font-size: 25px;
	bottom: 8px;
	color: #54FFA9;
	font-family: "Roboto Mono";
	position: relative;
	margin-left: 10px;
}

#mobile_logo_title {
	display: none;
}

#hamburger_button {
	display: none;
	visibility: hidden;
	cursor: pointer;
}

#hamburger_button i {
	font-size: 60px;
}

#mobile_title {
	display: none;
	padding-left: 40px;
}

#desktop_title .breadcrumb {
	color: white;
}

.breadcrumb.changed:before {
    content: "\E5CC";
    color: rgba(255,255,255,.7);
    vertical-align: top;
    display: inline-block;
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}



/* All CSS properties related to anything belonging to the menu */
#nav-mobile {
	overflow-x: hidden;
	top: 64px;
	width: 350px;
}


#nav-mobile .menu_items {
  	line-height: 64px;
  	font-size: 12px;
  	font-weight: 700;
}

#nav-mobile .divider {
	height: 5px;
	background-color: #e0e0e0;
}

.extra_li {
	font-size: 12px;
	line-height: 64px;
	background-color: white;
	pointer-events: none;
}

.drag-target {
	width: 15px;
}



/* All CSS properties related to anything belonging to the about page */
.box_message {
	margin: 20px auto 50px auto;
	font-size: 15px;
}

.box_message h1 {
	margin: 100px auto 80px auto;
	font-size: 40px;
	width: 90%;
}

.box_message h2 {
	font-size: 20px;
}

.box_text {
	margin: 10px;
}

.box_text a {
	color: inherit;
	text-decoration: underline;
}

.box_text li {
	margin: 0 0 0 30px;
}

#open_source {
	padding-left: 4px;
	color: inherit;
}

#about_page {
	margin-top: 100px;
}

#main_message {
	margin-top: 150px;
}



/* All CSS properties related to anything belonging to any subject, topic, section, and example page */
#latex {
	margin-top: 64px;
	width: 100%;
	font-size: 15px;
}

.latex_body {
	margin: 10px;
}

#latex img {
	width: 100%;
	max-height: 400px;
	max-width: 400px;
}

.latex_section {
	margin-top: 50px;
	width: 80%;
	font-size: 20px;
}

#breadcrumbs li {
	font-size: 25px;
	display: table;
	margin-bottom: 0px;
	margin-top: 30px;
	line-height: 25px;
}

.latex_equation {
	position: relative;
	text-align: center;
	font-family: "Georgia";
	padding: 20px 0 20px 0;
	font-size: 15px;
}

.latex_equation table {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	width: 80%;
	font-size: 15px;
}

.latex_equation tr {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
}

.latex_equation td {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	text-align: center;
}

.show_solution {
	display: block;
	position: relative;
	text-align: center;
	margin: 0 auto 0 auto;
    width: 100%;
    font-size: 16px;
    text-align: left;
    background-color: #4693ec;
    color: white;
    padding: 9px;
    border-bottom: none;
    cursor: pointer;
}

.cont_div {
    background-color: #e0e0e0;
    box-sizing: content-box;
    padding: 30px;
    border-top: none;
}

.hidden_div {
	display: none;
}

.accordion {
	margin-top: 0px;
	margin-bottom: 10px;
}

.solution_display {
	position: absolute;
    top: -10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    pointer-events: auto;
}



/* All CSS properties related to the cms login page */
.login {
	background: #e0e0e0;
    border-radius: 2.5cm;
    width: 500px;
	margin: auto;
    position: relative;
    border: solid #000000 5px;
}

#information {
    top: 30px;
    height: 150px;
}

.form_title {
	margin: auto;
    position: relative;
    width: 51%;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
}

.form_body {
	padding: 10px;
    margin: auto;
    width: 70%;
}

#administrator_form {
    top: 60px;
    height: 120px;
}

#administrator_form .form_title {
	width: 38%;
}

#login_form {
    top: 100px;
    height: 500px;
}

#form_top {
	padding: 10px;
    border-bottom: solid black 2px;
    margin: auto;
    width: 99%;
}

#container {
    top: 100px;
    height: 400px;
}

#login_heading {
	position: relative;
	width: 100% !important;
	border: solid #000000 5px;
    height: 70px;
    background: linear-gradient(to right, #4693ec 50%, #e0e0e0 50%);
    top: -5px;
    margin: auto;
    border-top-right-radius: 2100px 1600px;
    border-top-left-radius: 2100px 1600px;
}

#login_input {
    margin: auto;

}

#left_click {
	border-right: solid #000000 3px;
	width: 50%;
	height: 60px;
	cursor: pointer;
}

#right_click {
	width: 50%;
	height: 60px;
}

#login_button, #register_button {
	background: #4693ec;
}

#register_input, #template_issue_control,
#status_issue_control, #popup_control {
	display: none;
}

#forgot, #right_click {
	cursor: pointer;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
	border-bottom: 1px solid #4693ec !important;
	box-shadow: 0 1px 0 0 #4693ec !important;
}

.input-field input[type=text].valid,
.input-field input[type=password].valid,
.input-field input[type=email].valid {
	border-bottom: 1px solid #4693ec !important;
	box-shadow: 0 1px 0 0 #4693ec !important;
}

.input-field input[type=text].invalid,
.input-field input[type=password].invalid,
.input-field input[type=email].invalid {
	border-bottom: 1px solid #4693ec !important;
	box-shadow: 0 1px 0 0 #4693ec !important;
}

.input-field .prefix.active {
	color: #4693ec !important;
}

.select-wrapper {
	width: 91.5%;
    margin-left: 40px;
}

.dropdown-content li > a, 
.dropdown-content li > span {
	color: #4693ec !important;
}



/* All CSS properties related to the modals */
#template_issue, #status_issue, #popup {
	height: 500px;
	border-radius: 0.5cm;
	background-color: #e0e0e0;
}

#template_modal_footer, #status_modal_footer, #popup_modal_footer {
	background-color: #4693ec;
	border-top: solid #000000 1px;
}

#status_title {
	text-align: center;
}



/* All CSS properties related to the cms fixed action button */
#drop_up {
	background: #1163a9;
}

#profile, #logout {
	background: #00b8ff;
}



/* All CSS properties related to the cms sidenav modal */
#sidenav_table_head th {
	text-align: center;
}

.arrow {
	color: black;
}



/* All CSS properties related to the cms committee modal */
#committee_table_head th {
	text-align: center;
}



/* All CSS properties related to the cms edit bar */
#bar {
	display: flex;
	justify-content: space-between;
}

#bar a {
	cursor: pointer;
}

#bar-nav {
	background-color: #00b7ff;
}

.solution_toggle, .solution_del,
.solution_img, .solution_table,
.solution_box, .solution_link {
	position: absolute;
    top: -10px;
    font-size: 40px;
    cursor: pointer;
    pointer-events: auto;
}

.solution_toggle {
    right: 100px;
}

.solution_del {
    right: 150px;
}

.solution_link {
	right: 200px;
}

.solution_img {
    right: 250px;
}

.solution_table {
    right: 300px;
}

.solution_box {
    right: 350px;
}

.table-buttons {
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: space-evenly;
	font-family: "Roboto", sans-serif;
	margin-bottom: 15px;
}

.table-buttons a, .table-buttons a:hover {
	background-color: #4693eb;
}

.content-link {
	padding-left: 4px;
	color: inherit;
	text-decoration: underline;
}