/* Styles for screens with maximum width of 800px */
@media only screen and (max-width : 799px) and (min-width : 400px) {
	header, main, footer {
		padding-left: 0;
	}

	main {
		padding-top: 60px;
	}

	nav {
		height: 64px;
	}

	#desktop_title {
		display: none;
	}

	#short_description {
		margin-top: 40px;
	}

	#hamburger_button {
		left: 20px;
		display: inline;
	}

	.nav-wrapper {
		text-align: center;
	}

    #logo {
		padding: 15px 0 0 80px;
		display: inline;
		position: relative;
	}

	#logo img {
		width: 210px;
	}

	#page_title {
	  	padding: 15px 0 0 80px;
		display: inline;
	}

	#latex {
		width: 300px;
	}

	#latex img {
		width: 150px;
	}

	#nav-mobile {
		top: 64px;
	}

	.box_message {
		width: 300px;
	}

	#about_page .box_text {
		font-size: 10px;
	}

	.extra_li {
		font-size: 25px;
		line-height: 120px;
	}

	.box_message h1 {
		margin-top: 100px;
	}
}