/* Styles for screens with minimum and maximum widths of 600px and 799px respectively */
@media only screen and (max-width : 799px) and (min-width : 600px) {
	/* Pushes the main content from the left and top */
	main {
		padding-left: 0;
		padding-top: 60px;
	}



	/* All CSS properties related to anything belonging to the top nav(s) */
	#first_top_nav {
		box-shadow: none;
	}

	#second_top_nav {
		display: inline;
	}

	#desktop_title {
		display: none;
	}

	#hamburger_button {
		left: 20px;
		display: inline;
		visibility: visible;
	}

	#hamburger_button i {
		line-height: 64px;
		height: 64px;
	}

	.nav-wrapper {
		text-align: center;
	}

    #logo {
		display: inline;
		position: relative;
		right: 40px;
	}

	#logo img {
		padding: 12px 0 0 0;
		width: 30px;
	}

	#mobile_title {
		display: inline;
		font-size: 15px;
	}

	#nav-mobile {
		top: 124px;
		/*width: 75%;*/
	}

	.page_title {
		font-size: 20px;
	}



	/* All CSS properties related to anything belonging to the menu */
	.extra_li {
		font-size: 25px;
		line-height: 120px;
	}

	#nav-mobile .menu_items {
		line-height: 120px;
		font-size: 20px;
	}

	#nav-mobile li {
		background-color: white;
	}

	.collapsible-header i {
		font-size: 20px;
	}

	#nav-mobile .divider {
		height: 5px;
		background-color: #e0e0e0;
	}



	/* All CSS properties related to anything belonging to the latex page */
	.latex_equation {
		font-size: 10px;
	}

	#latex {
		font-size: 15px;
	}
}