/* Styles for screens with minimum and maximum widths of 800px and 992px respectively */
@media only screen and (max-width : 991px) and (min-width : 800px) {
	/* Pushes the main content from the left and top */
	main {
		padding-left: 0;
		padding-top: 60px;
	}



	/* All CSS properties related to anything belonging to the top nav(s) */
	#first_top_nav {
		box-shadow: none;
	}

	#second_top_nav {
		display: inline;
	}

	#desktop_title {
		display: none;
	}

	#hamburger_button {
		left: 20px;
		display: inline;
		visibility: visible;
	}

	#hamburger_button i {
		line-height: 64px;
		height: 64px;
	}

	.nav-wrapper {
		text-align: center;
	}

	#logo {
		display: inline;
		position: relative;
		right: 40px;
	}

	#logo img {
		padding: 12px 0 0 0;
		width: 30px;
	}

	#nav-mobile {
		top: 124px;
	}

	.page_title {
		font-size: 20px;
	}
	


	/* All CSS properties related to anything belonging to the menu */
	.extra_li {
		font-size: 25px;
		line-height: 120px;
	}

	.collapsible-header i {
		font-size: 30px;
	}



	/* All CSS properties related to anything belonging to the latex page */
	#latex {
		font-size: 20px;
	}	
}