/* Styles for all screens */
.top-nav {
	background-color: #1163A9;
}

#second_top_nav {
	top: 60px;
	box-shadow: none;
}

#third_top_nav {
	top: 60px;
	box-shadow: none;
}

.page_title {
	font-size: 20px;
	line-height: 64px;
	vertical-align: top;
	padding-left: 140px;
}

#logo {
	width: 250px;
	height: 70px;
}

#mobile_title {
	padding-left: 0;
}

.collapsible-header {
  	line-height: 64px;
}

.box_message {
	margin: 20px auto 50px auto;
	width: 80%;
}

.box_message h1 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
	font-size: 40px;
}

.box_message h2 {
	font-size: 25px;
}

.box_text {
	margin: 10px;
}

.box_text a {
	color: inherit;
	text-decoration: underline;
}

.box_text li {
	margin: 0 0 0 30px;
}

#latex {
	color: black;
	font-family: "Computer Modern Serif, sans-serif";
	margin: 0 auto 50px auto;
	font-size: 15px;
	width: 80%;
}

.latex_section {
	position: relative;
	text-align: center;
	font-family: "Georgia";
	font-size: 30px;
	text-decoration: underline;
	padding: 15px 0 15px 0;
}

.latex_equation {
	position: relative;
	text-align: center;
	font-family: "Georgia";
	font-size: 15px;
	padding: 7px 0 7px 0;
}

.show_solution {
	display: block;
	position: relative;
	text-align: center;
	margin: 10px auto 0 auto;
	font-size: 20px;
}

.latex_equation table {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	width: 50%;
}

.latex_equation tr {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
}

.latex_equation td {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	text-align: center;
}

#differential_notation {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	width: 80%;
}

.extra_li {
	background-color: white;
	pointer-events: none;
}