#page_title {
	font-size: 20px;
	position: absolute;
	top: 25%;
}

#page_title_ul {
	padding: 0 0 0 400px;
}

#brand-logo {
	padding: 0 0 0 90px;
	position: absolute;
	top: 25%;
}

.box_message {
	border: 1px solid black;
	border-radius: 10px; 
	width: 800px;
	margin: 20px auto 0 auto;
}

.box_text {
	margin: 10px;
}