/* Styles for screens with minimum and maximum widths of 800px and 992px respectively */
@media only screen and (max-width : 991px) and (min-width : 800px) {
	header, main, footer {
		padding-left: 0;
	}

	main {
		padding-top: 60px;
	}

	#desktop_title {
		display: none;
	}

	#short_description {
		margin-top: 40px;
	}

	#hamburger_button {
		left: 20px;
		display: inline;
	}

	.nav-wrapper {
		text-align: center;
	}

	#logo {
		padding: 10px 0 0 0;
		display: block;
		margin: 0 auto;
		left: 50px;
		position: relative;
	}

	#logo img {
		width: 210px;
	}

	#page_title {
	  	padding: 15px 0 0 80px;
		display: inline;
	}

	#latex {
		width: 600px;
	}

	#latex img {
		width: 400px;
	}

	#nav-mobile {
		top: 124px;
	}

	.box_message {
		width: 600px;
	}

	#about_page .box_text {
		font-size: 10px;
	}

	.extra_li {
		font-size: 25px;
		line-height: 120px;
	}

	.box_message h1 {
		margin-top: 100px;
	}
}