/* Styles for screens with a minimum width of 1200px */
@media only screen and (min-width : 1600px) {
	main, footer {
	  	padding-left: 350px;
	}

	#hamburger_button {
		display: none;
		visibility: hidden;
	}

	.drag-target {
		display: none;
		visibility: hidden;
	}

	#logo {
		padding: 0 0 0 40px;
		display: inline-block;
	}

	#logo img {
		width: 210px;
		padding: 8px 0 0 10px;
	}

	#page_title {
	  	padding: 0 0 0 130px;
		display: inline-block;
	}

	#latex {
		width: 1200px;
	}

	#nav-mobile {
		top: 64px;
		width: 350px;
	}

	.box_message {
		width: 1200px;
	}

	#about_page .box_text {
		font-size: 15px;
	}
}