/* Styles for all screens */
body * {
	max-height: 1000000em;
}

.top-nav {
	background-color: #1163A9;
}

#second_top_nav {
	top: 60px;
	box-shadow: none;
}

#nav-mobile {
	overflow-x: hidden;
}

.page_title {
	font-size: 16px;
	line-height: 64px;
	vertical-align: top;
	padding-left: 140px;
}

.drag-target {
	width: 15px;
}

#logo {
	height: 70px;
}

#mobile_title {
	padding-left: 0;
}

.collapsible-header {
  	line-height: 64px;
}

.box_message {
	margin: 20px auto 50px auto;
	width: 80%;
}

.box_message h1 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
	font-size: 40px;
}

.box_message h2 {
	font-size: 25px;
}

.box_text {
	margin: 10px;
}

.box_text a {
	color: inherit;
	text-decoration: underline;
}

.box_text li {
	margin: 0 0 0 30px;
}

#latex {
	color: black;
	font-family: "Computer Modern Serif, sans-serif";
	margin: 0 auto 50px auto;
	font-size: 20px;
	width: 70%;
}

.latex_section {
	position: relative;
	text-align: center;
	font-family: "Georgia";
	font-size: 30px;
	padding: 15px 0 15px 0;
	margin-top: 30px;
}

.latex_equation {
	position: relative;
	text-align: center;
	font-family: "Georgia";
	padding: 20px 0 20px 0;
}

.show_solution {
	display: block;
	position: relative;
	text-align: center;
	margin: 10px auto 0 auto;
	font-size: 20px;
}

.latex_equation table {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	width: 50%;
}

.latex_equation tr {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
}

.latex_equation td {
	position: relative;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	text-align: center;
}

#latex img {
	width: 80%;
	max-height: 650px;
	max-width: 650px;
}

.extra_li {
	background-color: white;
	pointer-events: none;
}

#logo_title {
	color: #54FFA9;
	font-family: "Roboto Mono";
	font-size: 25px;
	position: relative;
	bottom: 8px;
	margin-left: 10px;
}

.logoBlue {
	color: #00B7FF;
}

#hamburger_button i {
	font-size: 60px;
}