/* Styles for screens with a minimum width of 1200px */
@media only screen and (min-width : 1600px) {
	main, footer {
	  	padding-left: 350px;
	}

	#second_top_nav {
		display: none;
	}

	#third_top_nav {
		display: none;
	}

	#hamburger_button {
		display: none;
		visibility: hidden;
	}

	.drag-target {
		display: none;
		visibility: hidden;
	}

	#logo {
		padding: 0 0 0 40px;
		display: inline-block;
	}

	#logo img {
		width: 40px;
		padding: 13px 0 0 10px;
	}

	#page_title {
	  	padding: 0 0 0 130px;
		display: inline-block;
	}

	#nav-mobile {
		top: 64px;
		width: 350px;
	}

	#about_page .box_text {
		font-size: 15px;
	}

	#extra_li {
		font-size: 12px;
		line-height: 64px;
	}

	.box_message h1 {
		margin-top: 100px;
	}

	.latex_equation {
		font-size: 15px;
	}
}