/* Styles for screens with maximum width of 800px */
@media only screen and (max-width : 399px) {
	header, main, footer {
		padding-left: 0;
	}

	main {
		padding-top: 120px;
	}

	nav {
		height: 64px;
	}

	#second_top_nav {
		top: 120px;
	}

	#desktop_title {
		display: none;
	}

	#short_description {
		margin-top: 40px;
	}

	#hamburger_button {
		left: 20px;
		display: inline;
	}

	.nav-wrapper {
		text-align: center;
	}

    #logo {
		display: none;
	}

	#mobile_logo {
		display: block;
		margin: 0 auto;
		position: relative;
	}

	#mobile_logo img {
		width: 210px;
	}

	#mobile_title {
		display: inline;
		font-size: 10px;
	}

	.latex_equation {
		font-size: 12px;
	}

	#nav-mobile {
		top: 184px;
	}

	.box_message h1 {
		font-size: 25px;
	}

	.box_message h2 {
		font-size: 15px;
	}

	#about_page .box_text {
		font-size: 10px;
	}

	.extra_li {
		font-size: 25px;
		line-height: 120px;
	}

	.box_message h1 {
		margin-top: 100px;
	}
}